/* Reseta o navegador, tirando todas as bordas e margens */
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: #fff;
  height: 100vh; /* Para garantir que o body ocupe toda a altura da tela */
}

header {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha os itens do header no centro */
  max-width: 960px;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

table {
  border-collapse: collapse; /* Para remover espaços entre as bordas das células */
  width: 98%;
}

th,
td {
  padding: 10px; /* Adiciona preenchimento nas células da tabela */
  text-align: center; /* Alinha o texto à esquerda */
  border: solid #a89393e5 1px;
}

form {
  display: flex; /* Foi usado o Display flex para deixar os inputs do mesmo tamanho */
  width: 100%;
  max-width: 960px;
  margin: 0;
  justify-content: space-around;
}

input {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 10px;
  border: solid #a89393e5 2px;
}

input:focus {
  border-color: #b1ab8ce5; /* Altere para a cor desejada */
  outline: none; /* Remove a borda de foco padrão do navegador */
}

button {
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  color: #000000;
  background-color: rgb(53, 185, 124);
  border: solid #524a4ae5 2px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(2, 207, 95);
}

#btn {
  display: flex;
  align-items: center;
}

#profile {
  display: flex;
  align-items: center;
}

#phone {
  display: flex;
  align-items: center;
}


img {
  height: 20px;
  margin: 0;
}